* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#logo {
    height: 180px;
    float: left;
    background-color: white;
}

.tile-listings {
    margin: 0%;
}

.tile-listings div {
    display: inline-block;
    margin: 1% 5%;
    border-width: 0.5em;
    background-color: #f2f5f2;
    font-size: 1.3em;
}

.tile-listings a {
    text-decoration: none;
    color: black;
}

.results {
    display: inline-block;
    margin: 2%;
}

.listing-photo {
    width: 275px;
    height: 200px;
}

.listing-photo-large {
    width: 450px;
}

.listingDetailImg {
    text-align: center;
}

#product-detail {
    display: flex;
    margin-bottom: 2%;
}

#product-detail p {
    font-size: 1.5rem;
}

.counter {
    margin-Left: 0.5rem;
    font-size: 1.5rem;
}

.cart {
    margin-left: 1rem;
    font-size: 1.5rem !important;
}

.listingDescription p {
    font-size: 1.2rem;
}

.filter {
    font-size: 2rem;
}

.searchResults {
    display: flex;
}

.collapsible {
    min-width: 200px;
}

.collapsible .content {
    padding: 3px;
    background-color: #f2f5f2;
    font-size: 14px;
}

.collapsible .header {
    background-color: #c8c8c8;
    padding: 6px;
    display: flex;
    border-bottom: 2px solid #c8c8c8;
}

.preferences label {
    display: block;
    padding-bottom: 4px;
}